
<td><%= link_to employee.full_name, employee %></td>
<td><%= employee.badge %></td>
<td><%= employee.gender %></td>
<td><%= employee.location_id %></td>
<td><%= employee.muster_location.name %></td>


