<div class="container">
	<div class="row">
		<h3>Employees</h3>

		<div><%= button_to 'Add New Employee', new_employee_path, :method => "get" %></div>
		<div class="column">
			<table class="table table-hover">
				<tbody>
					<th>Name</th>
					<th>Badge Number</th>
					<th>Gender</th>
					<th>Primary Location</th>
					<th>Department</th>
					<th>Muster Area</th>
												
						<% @employees.each do |employee| %>
							<tr>
								<%= render employee %>
							</tr>
						<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		 <h3>Import Employees</h3>  
				<%= form_tag import_employees_path, multipart: true do %>  
				<%= file_field_tag :file %>  
				<%= submit_tag "Import" %>  
			<% end %> 
		</div>
	</div>