<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @building.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
<table class="table table-hover">
  <tbody>
    <th>Name</th>
    <th>Number</th>
                        
      <% @locations.each do |location| %>
        <tr>
          <%= render location %>
        </tr>
      <% end %>
        </tbody>
      </table>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
